@charset "utf-8";

* {
    /*height: 100%;*/
    font-family: ubuntu, san serif;
    font-size: 20px;

}
body {
        background-image: linear-gradient(to right, rgb(172, 247, 247), rgb(47, 135, 170), rgb(117, 198, 255));
}
p{
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
        font-family: ubuntu, sans-serif;
}
main {
        background-color: white;
        padding: 20px;
        border-radius: 30px;
        width: 800px;
        margin: auto;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.425);


}
h1 {
        font-size: 60px;
        font-family: Verdana;
        color: rgb(57, 150, 176);
        text-align: center;
        text-shadow: 2px 2px 5px rgb(122, 171, 180);
}
h2 {
        color: rgb(31, 152, 193);
}